<article>
	<header class="jumbotron">
		<div class="container">
			<h2>
				OrderCloud Courses
			</h2>
		</div>
	</header>
	<div class="container">
		<p class="lead">Whether you're completely new to using RESTful APIs or it's second nature, this is the place to learn everything there is to know about creating custom OrderCloud applications.</p>
		<div class="courses-container" ng-repeat="course in courses.list">
			<div class="course-summary" ui-sref="^.course({courseid:course.ID})">
				<figure>
					<img class="img-responsive" ng-src="{{course.ImgUrl}}" alt=""/>
				</figure>
				<div>
					<h4><b>{{course.Name}}</b></h4>
					<p class="text-info">{{course.Description}}</p>
				</div>
			</div>
		</div>
	</div>
</article>
